/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
body{
background-color:#e6ffff;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Header Styles */
header {
  background: #737373;

  padding: 20px 0;
}

header h1 {
  font-size: 24px;
color:white;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color:white;
  text-decoration: none;

}

h2{
text-align:center;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
color:white;
text-size:50px;
}
.hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}


.btn {
    display: inline-bl5ock;
    padding: 1px 20px;
    background-color: #FF5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.featured {
    padding: 50px 0;
    text-align: center;
}

.featured h2 {
    margin-bottom: 40px;
}

.dish {
    margin-bottom: 40px;
}

.dish img {
    max-width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}



